:global :root {
  --example: red;
}

.area {
  position: relative;
}

.box {
  display: flex;
  gap: 1rem;
}

.exampleImage {
  composes: placeholder from "./images.module.css";
}

.backgroundImage1 {
  composes: placeholder from "./images.module.css";
  background-image: url(assets/image1.png);
}

.backgroundImage2 {
  composes: placeholder from "./images.module.css";
  background-image: url(assets/image2.png);
}

.backgroundImage3 {
  composes: placeholder from "./images.module.css";
  background-image: url(assets/image3.svg);
}

.hasBefore:before {
  content: "[before] ";
  color: var(--example);
}

.hasAfter:after {
  content: " [after]";
  color: var(--example);
}

.usesCustomProp {
  color: var(--example);
}
